<div class="container bg-white">
  <div class="trip-container col-12 mx-auto gap-2 d-grid py-3 my-5">
    <h2 class="text-center mt-3"><%= @trip.title %></h2>
    <div class="username text-right">投稿日：<%= @trip.created_at.strftime('%Y/%m/%d %H:%M:%S') %></div>
    <div class="username text-right">投稿者：<%= link_to @trip.user.name, user_path(@trip.user), class:'ml-auto, text-body' %></div>
    <div class="content-container d-flex mr-5">
      <div class="content-name m-2 col-1">
        内容
      </div>
      <div class="content mt-2 ml-3 mr-3 mb-2 col-11">
        <%= simple_format(@trip.content) %>
      </div>
    </div>

    <div class="content-container d-flex">
      <div class="content-name m-2 col-1">
        場所
      </div>
      <div class="content mt-2 ml-3 mb-2 col-11">
        <%= @trip.prefecture.name %>
      </div>
    </div>
    
    <div class="fish-container d-flex">
      <div class="fish-names m-2 col-1">釣果</div>
      <div class="fish-list mt-2 ml-3 mb-2 col-11">
        <div class="fish-name mb-3">
          <% @results.each do |result| %>
            <%= result.fish_name %>
          <% end %>
        </div>
        <div class="fish-image">
          <% @results.each do |result| %>
            <% if result.image.attached? %>
              <%= link_to image_tag(result.image, width: '30%', height: 'auto', class: 'mr-2 img-css'), result.image %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <% if user_signed_in? && current_user.id == @trip.user_id%>
      <div class="text-right">
        <%= link_to '編集', edit_trip_path(@trip.id), method: :get, class: 'btn btn-success btn-sm' %>
        <%= link_to '削除', trip_path(@trip.id), method: :delete, class:'btn btn-danger btn-sm' %>
      </div>
    <% end %>
  </div>
</div>

<div class="container bg-white mb-3 pb-3">
    <div class="comment-container container col-8 border-bottom">
      <p class="pt-3">コメント</p>
      <% @comments.each do |comment| %>
        <div class="comment border-top">
          <div class="comment-header d-flex">
            <p><%= link_to comment.user.name, user_path(comment.user), class:'ml-auto, text-body' %></p>
            <p class="ml-auto"><%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %></p>
          </div>
          <div class="comment-body">
            <%= simple_format(comment.content) %>
          </div>
          <div>
          <% if user_signed_in? && current_user == comment.user %>
            <%= form_with url: trip_comment_path(@trip, comment), method: :delete, class: 'text-right' do |f| %>
              <%= f.submit '削除', class: 'btn btn-danger btn-sm mb-1', id: 'comment_delete_btn' %>
            <% end %>
          <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <% if user_signed_in? %>
      <div class="form-contaier col-8 mx-auto">
        <%= form_with url: trip_comments_path(@trip.id), model: @comment, method: :post, local: true, class: 'p-3' do |f| %>
          <%= f.label :content, '内容', class: 'col-8 mx-auto' %>
          <%= f.text_area :content, class: 'form-control  mx-auto' %>
          <%= f.submit '送信', class: 'btn btn-primary btn-block  mt-3 mx-auto' %>
        <% end %>
      </div>
    <% end %>
</div>