<div class="container bg-white mt-5">
  <div class="d-grid col-8 mx-auto pt-5 pb-5">
    <h3>
    <% @room.users.each do |user| %>
      <a class="text-body" href="{% url 'user_trips' user.id %}"><%= user.name %>さん</a>
    <% end %>
    のメッセージルーム
    </h3>
    <%# バリデーションエラー実装 %>
    <% if @mutural_follow %>
      <%= form_with url: room_messages_path, model: @message, local: true, method: :post do |f| %>
        <%= f.label '本文' %>
        <%= f.text_area :content, rows: 4, class: 'form-control mb-3' %>
        <%= f.submit '送信', class: 'btn btn-block btn-primary' %>
      <% end %>

    <% else %>
      <p class="text-success">※ メッセージの送信は相互フォロー状態でのみ可能です</p>
    <% end %>
    <div class="messages-container mt-5">
      <% @messages.each do |message| %>
        <div class="message border m-2 p-2 mb-3">
          <div class="d-flex message-heade justify-content-between">
            <div class="content"><%= message.user.name %></div>
            <div class="text"><%= message.created_at.strftime('%Y/%m/%d %H:%M:%S') %></div>
          </div>
          <div class="message-content">
            <%# {{message.content | linebreaksbr }} %>
            <%= simple_format(message.content) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>